
.nav{
	margin: 0 auto;
	margin-bottom: 50px;
}

.nav .bo a{
	margin-left: 10px;
	color:red;
	font-size:12px;
}
.container .header{
	height: 50px;
	/*border: 1px solid ;*/

}
.container .header .title{
	font-size: 16px;
	display: inline-block;
	color: #737373;
}
.container .header .btn{
	float: right;
}
.container .header .img{
	display: inline-block;
	float: right;
}
.container .header .img label{
	display: inline-block;
	float: left;
}
.container .c_body{
	height: 642px;
}
.container .c_body .table_body{
	width: 100%;
}
.container .c_body .table_body  .tb_header{
	width: 100%;
	height: 40px;
	
;
}
.container .c_body .table_body .tb_header td{
	height: 40px;
	width: 11%;
	text-align: center;
}

.container .c_body .table_body  .tb_body{
	width: 100%;
	height: 60px;
;
}
.container .c_body .table_body .tb_body td{
	height: 60px;
	width: 11%;
	text-align: center;
	
}
.container .c_body .table_body .tb_body td img{
	display: inline-block;
	width: 60%;
	height: 80%;
}

.footer{
	height: 200px;
}
#mdinputInfo{
	color: red;
	text-align: center;
}
.container .c_footer{
	/*height: 50px;*/
	width: 100%;
	/*background-color: red;*/
	padding-right: 20px;
}
.container .c_footer .page{
	display: inline-block;
	float: right;
	padding-right: 10px;
	padding-top: 10px;
}

.container .c_footer .page a{
	display: inline-block;
	width: 38px;
	height: 38px;
	background: #FFFFFF;
	margin-left: 5px;
	text-align: center;
	line-height: 38px;
	border: 1px solid #ebebeb;
}
.container .c_footer{
	height: 50px;
}
.container .c_footer .page span{
	display: inline-block;
	width: 38px;
	height: 38px;
	background: #e91e63;
	margin-left: 5px;
	text-align: center;
	line-height: 38px;
	border: 1px solid #ebebeb;
	color: white;
}
